{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
            <label class="col-md-3 control-label" for="username">{{ 'security.login.username'|trans }}</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" for="password">{{ 'security.login.password'|trans }}</label>
            <div class="col-md-9">
                <input type="password" class="form-control" id="password" name="_password" required="required" />
            </div>
            <a style="color:#777;" href="{{ path('fos_user_resetting_request') }}">{{ "Forgot password?" | trans({}, 'eezeecommerceUserBundle') }}</a>
        </div>
            
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

        <input type="submit" class="btn btn-lg btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
{% endblock fos_user_content %}