{% extends "AppBundle:Frontend:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="container">
        <div class="col-md-12" style="margin-top:50px;">
            <h1>Reset your Password</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ 'resetting.check_email'|trans({'%email%': email}) }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
