{% extends "AppBundle:Frontend:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <div class="container">
        <div class="col-md-12" style="margin-top:50px;">
            <h1>Reset your Password</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset-3">
                    <section class="call-to-action call-to-action-default mb-xl">
                        <div style="text-align:center; padding-top:35px;">
                            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                                <div>
                                    {% if invalid_username is defined %}
                                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                                    {% endif %}
                                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                                    <input type="text" id="username" name="username" class="form-control" required="required" />
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans }}" />
                                </div>
                            </form> 
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
