{% extends "AppBundle:Frontend:layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="col-md-12" style="margin-top:50px;">
            <h1>Reset your Password</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}
