{% extends "AppBundle:Frontend:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="container">
        <div class="col-md-12" style="margin-top:20px;"></div>
        <div class='row'>
            <div class='col-md-12'>
                <h1 class='text-center'>Registration Complete</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 center">
                <p>Thank you, your registration was successful.</p>
                <a href="/"><button class="btn btn-primary btn-lg">Go To Store</button></a>
                <a href="/account"><button class="btn btn-default btn-lg">Go To My Account</button></a>
            </div>
        </div>
    </div>

{% endblock content %}
