{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('registrationTrade'), 'attr': {'class': 'fos_user_registration_register'}}) }}


<div class="col-md-12">
    <div class="form-group text-left">
        {{ form_row(form.company_name, {'attr': {'class': 'input-lg'}}) }}
    </div>
</div>

<div class="col-md-6 col-sm-6">
    <div class="form-group text-left">
        <label class="control-label required" for="address_1">Address 1</label>
        <input type="text" id="address_1" name="address_1"
               class="form-control input-lg">
    </div>
</div>

<div class="col-md-6 col-sm-6">
    <div class="form-group text-left">
        <label class="control-label required" for="address_2">Address 2</label>
        <input type="text" id="address_2" name="address_2"
               class="form-control input-lg">
    </div>
</div>

<div class="col-md-6 col-sm-6">
    <div class="form-group text-left">
        {{ form_row(form.first_name, {'attr': {'class': 'input-lg'}}) }}
    </div>
</div>

<div class="col-md-6 col-sm-6">
    <div class="form-group text-left">
        {{ form_row(form.last_name, {'attr': {'class': 'input-lg'}}) }}
    </div>
</div>

<div class="col-md-6 col-sm-6">
    <div class="form-group text-left">
        <label class="control-label required" for="city">City</label>
        <input type="text" id="city" name="city"
               class="form-control input-lg">
    </div>
</div>

<div class="col-md-6 col-sm-6">
    <div class="form-group text-left">
        <label class="control-label required" for="county">State</label>
        <input type="text" id="county" name="county"
               class="form-control input-lg">
    </div>
</div>

<div class="col-md-6 col-sm-6">
    <div class="form-group text-left">
        <label class="control-label required" for="postcode">Zip Code</label>
        <input type="text" id="postcode" name="postcode"
               class="form-control input-lg">
    </div>
</div>

<div class="col-md-6 col-sm-6">
    <div class="form-group text-left">
        <label class="control-label required" for="country">Country</label>
        <input type="text" id="country" name="country"
               class="form-control input-lg">
    </div>
</div>

<div class="col-md-12">
    <div class="form-group text-left">
        <label class="control-label required" for="phone">Contact Phone Number</label>
        <input type="text" id="phone" name="phone"
               class="form-control input-lg">
    </div>
</div>

<div class="col-md-12">
    <div class="form-group text-left">
        {{ form_row(form.email, {'attr': {'class': 'input-lg'}}) }}
    </div>
</div>

<div class="col-md-12">
    <div class="form-group text-left">
        <label class="control-label required" for="url">Website URL</label>
        <input type="text" id="url" name="url"
               class="form-control input-lg">
    </div>
</div>

<div class="col-md-12">
    <div class="form-group text-left">
        {{ form_row(form.username, {'attr': {'class': 'input-lg'}}) }}
    </div>
</div>

<div class="col-md-6 col-sm-6">
    <div class="form-group text-left">
        {{ form_row(form.plainPassword.first, {'attr': {'class': 'input-lg'}}) }}
    </div>
</div>

<div class="col-md-6 col-sm-6">
    <div class="form-group text-left">
        {{ form_row(form.plainPassword.second, {'attr': {'class': 'input-lg'}}) }}
    </div>
</div>

<div class="col-md-12 hidden">
    <div class="form-group text-left">
        {{ form_row(form.home_number, {'attr': {'class': 'input-lg', 'value': '0'}}) }}
        {{ form_row(form.work_number, {'attr': {'class': 'input-lg', 'value': '0'}}) }}
        {{ form_row(form.mobile_number, {'attr': {'class': 'input-lg', 'value': '0'}}) }}
        {{ form_row(form.vat_number, {'attr': {'class': 'input-lg', 'value': '0'}}) }}
    </div>
</div>


<div>
    <input type="submit" class="btn btn-primary btn-lg" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
