{% extends "AppBundle:Frontend:layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="col-md-12" style="margin-top:50px;">
            <h1>Password Reset Successful</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include "FOSUserBundle:Profile:show_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock content %}
